/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 3, ../../../app/stylesheets/partials/_page.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 75, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body p + p {
  text-indent: 2em;
  margin-top: -1.5em;
  /* Don't want this in forms. */
}
/* line 85, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
form body p + p {
  text-indent: 0;
}
/* line 77, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body p.incr,
body .incr p {
  font-size: 0.833em;
  line-height: 1.44em;
  margin-bottom: 1.5em;
}
/* line 12, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body .caps {
  font-variant: small-caps;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size: 1.2em;
  line-height: 1%;
  font-weight: bold;
  padding: 0 2px;
}
/* line 13, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body .dquo {
  margin-left: -0.5em;
}
/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body .alt {
  color: #666666;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
}
/* line 65, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #222222;
}
/* line 66, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
/* line 67, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 68, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 69, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 70, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 71, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 72, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 73, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p {
  margin: 0 0 1.5em;
}
/* line 74, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 75, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 77, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:visited {
  color: #000066;
}
/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:focus {
  color: black;
}
/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:hover {
  color: black;
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:active {
  color: #cc0099;
}
/* line 78, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 79, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body strong {
  font-weight: bold;
}
/* line 80, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body em {
  font-style: italic;
}
/* line 81, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 82, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body sup, body sub {
  line-height: 0;
}
/* line 83, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
/* line 84, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 85, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body del {
  color: #666666;
}
/* line 86, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 87, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre, body code, body tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 88, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body li ul, body li ol {
  margin: 0;
}
/* line 89, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 90, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul {
  list-style-type: disc;
}
/* line 91, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ol {
  list-style-type: decimal;
}
/* line 92, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl {
  margin: 0 0 1.5em 0;
}
/* line 93, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl dt {
  font-weight: bold;
}
/* line 94, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dd {
  margin-left: 1.5em;
}
/* line 95, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th {
  font-weight: bold;
}
/* line 97, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body thead th {
  background: #c3d9ff;
}
/* line 98, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
/* line 99, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tr.even td {
  background: #e5ecf9;
}
/* line 100, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tfoot {
  font-style: italic;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body caption {
  background: #eeeeee;
}
/* line 102, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .quiet {
  color: #666666;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .loud {
  color: #111111;
}
/* line 9, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .clear {
  clear: both;
}
/* line 12, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 8, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body .showgrid {
  background: url('/images/grid.png?1293822477');
}
/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error a {
  color: #8a1f11;
}
/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice a {
  color: #514721;
}
/* line 8, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success a {
  color: #264409;
}
/* line 10, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .hide {
  display: none;
}
/* line 12, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .highlight {
  background: yellow;
}
/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .added {
  background: #006600;
  color: white;
}
/* line 16, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .removed {
  background: #990000;
  color: white;
}
/* line 41, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 44, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
/* line 47, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
/* line 49, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 51, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 53, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body form.inline {
  line-height: 3;
}
/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form.inline p {
  margin-bottom: 0;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form label {
  font-weight: bold;
}
/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.title {
  font-size: 1.5em;
}
/* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input[type=checkbox], form input.checkbox, form input[type=radio], form input.radio {
  position: relative;
  top: 0.25em;
}
/* line 33, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 34, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form select {
  margin: 0.5em 0;
}
/* line 59, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  border: 1px solid #cccccc;
}
/* line 62, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password],
form textarea, form select {
  border: 1px solid #bbbbbb;
}
/* line 64, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text:focus, form input.title:focus, form input[type=email]:focus, form input[type=text]:focus, form input[type=password]:focus,
form textarea:focus, form select:focus {
  border: 1px solid #666666;
}
/* line 48, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  width: 300px;
}
/* line 50, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  width: 390px;
  height: 250px;
}

/* line 6, ../../../app/stylesheets/partials/application/_header.sass */
#header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  font-size: 150%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  line-height: 2em;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #header {
  overflow-x: hidden;
}
/* line 13, ../../../app/stylesheets/partials/application/_header.sass */
#header a {
  color: #00261c;
  text-decoration: none;
  padding: 0.5em;
}
/* line 17, ../../../app/stylesheets/partials/application/_header.sass */
#header a:hover, #header a.current {
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  -o-border-radius: 10px / 10px;
  -ms-border-radius: 10px / 10px;
  -khtml-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
  background: #044c29;
  color: #45bf55;
}
/* line 19, ../../../app/stylesheets/partials/application/_header.sass */
#header #nav {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 270px;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #header #nav {
  overflow-x: hidden;
}
/* line 21, ../../../app/stylesheets/partials/application/_header.sass */
#header #nav ul#menu {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 56, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#header #nav ul#menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#header #nav ul#menu li:first-child, #header #nav ul#menu li.first {
  padding-left: 0;
}
/* line 46, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#header #nav ul#menu li:last-child, #header #nav ul#menu li.last {
  padding-right: 0;
}
/* line 25, ../../../app/stylesheets/partials/application/_header.sass */
#header #notices {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
  text-align: center;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #header #notices {
  overflow-x: hidden;
}
/* line 28, ../../../app/stylesheets/partials/application/_header.sass */
#header #notices #notice {
  -webkit-border-radius: 6px 6px;
  -moz-border-radius: 6px / 6px;
  -o-border-radius: 6px / 6px;
  -ms-border-radius: 6px / 6px;
  -khtml-border-radius: 6px / 6px;
  border-radius: 6px / 6px;
  background-color: #45bf55;
  color: #00261c;
}
/* line 32, ../../../app/stylesheets/partials/application/_header.sass */
#header #login {
  display: inline;
  float: left;
  margin-right: 0;
  width: 270px;
  float: right;
  text-align: right;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #header #login {
  overflow-x: hidden;
}

/* line 10, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -40px;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root #root-footer {
  height: 40px;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 40px;
}

/* line 7, ../../../app/stylesheets/partials/application/_footer.sass */
#footer {
  color: #96ed89;
}
/* line 9, ../../../app/stylesheets/partials/application/_footer.sass */
#footer a {
  text-decoration: none;
  color: #167f39;
}
/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
#footer a:hover {
  text-decoration: underline;
}
/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#footer a:hover {
  color: #cccccc;
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#footer a:active {
  color: #00261c;
}
/* line 12, ../../../app/stylesheets/partials/application/_footer.sass */
#footer p {
  padding-left: 0.5em;
}

/* line 1, ../../../app/stylesheets/partials/application/_default_form.sass */
.default-form {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  background: #cccccc;
  padding: 1em;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  border-style: solid;
  border-width: 0.2em;
  border-color: #333333;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .default-form {
  overflow-x: hidden;
}

/* line 3, ../../../app/stylesheets/partials/task_lists/_task_list.sass */
#task_lists {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #task_lists {
  overflow-x: hidden;
}
/* line 5, ../../../app/stylesheets/partials/task_lists/_task_list.sass */
#task_lists ul.task_lists {
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  background-color: #cccccc;
  font-size: 200%;
  padding: 0em;
  border-style: solid;
  border-width: 0.2em;
  border-color: #333333;
}
/* line 15, ../../../app/stylesheets/partials/task_lists/_task_list.sass */
#task_lists ul.task_lists li {
  list-style: none;
  line-height: 2em;
  padding: 0.5em;
}
/* line 11, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
#task_lists ul.task_lists li li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 19, ../../../app/stylesheets/partials/task_lists/_task_list.sass */
#task_lists ul.task_lists li:hover {
  background-color: #45bf55;
}
/* line 21, ../../../app/stylesheets/partials/task_lists/_task_list.sass */
#task_lists ul.task_lists li a {
  text-decoration: none;
  color: #00261c;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#task_lists ul.task_lists li a:hover {
  color: #044c29;
}
/* line 7, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#task_lists ul.task_lists li a {
  *display: inline;
}
/* line 25, ../../../app/stylesheets/partials/task_lists/_task_list.sass */
#task_lists ul.task_lists li a.rename_task_list {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/edit.png?1294173372');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 48px;
  height: 48px;
  display: inline;
  float: right;
}
/* line 28, ../../../app/stylesheets/partials/task_lists/_task_list.sass */
#task_lists ul.task_lists li a.destroy_task_list {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/destroy.png?1294173372');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 48px;
  height: 48px;
  display: inline;
  float: right;
}

/* line 32, ../../../app/stylesheets/partials/task_lists/_task_list.sass */
#task_list_container {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
  list-style: none;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #task_list_container {
  overflow-x: hidden;
}
/* line 11, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
#task_list_container li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 36, ../../../app/stylesheets/partials/task_lists/_task_list.sass */
#task_list_container ul#task_list {
  padding: 0em;
}
/* line 38, ../../../app/stylesheets/partials/task_lists/_task_list.sass */
#task_list_container li {
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  background-color: #cccccc;
  margin: 0.2em;
  padding: 0.5em;
  font-size: 200%;
  border-style: solid;
  border-width: 0.2em;
  border-color: #333333;
}
/* line 48, ../../../app/stylesheets/partials/task_lists/_task_list.sass */
#task_list_container li a.task_link {
  color: #044c29;
}
/* line 50, ../../../app/stylesheets/partials/task_lists/_task_list.sass */
#task_list_container li a.prioritisation_link {
  display: inline;
  float: right;
  padding: 0.1em;
}

/* line 1, ../../../app/stylesheets/partials/task_lists/_task_list_actions.sass */
#task_list_actions {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #task_list_actions {
  overflow-x: hidden;
}
/* line 3, ../../../app/stylesheets/partials/task_lists/_task_list_actions.sass */
#task_list_actions p {
  margin-top: 1.5em;
  font-size: 125%;
}

@import url(users/sign-up.css);
@import url(sessions/sign-in.css);
/* line 18, ../../../app/stylesheets/partials/_main.sass */
body {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #96ed89), color-stop(100%, #044c29));
  background-image: -moz-linear-gradient(top, #96ed89 0%, #044c29 100%);
  background-image: linear-gradient(top, #96ed89 0%, #044c29 100%);
}
/* line 20, ../../../app/stylesheets/partials/_main.sass */
body .wrap {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 22, ../../../app/stylesheets/partials/_main.sass */
body #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  min-height: 500px;
  height: auto !important;
  height: 500px;
  color: #167f39;
  background-image: url("/images/task.png");
  background-repeat: no-repeat;
  background-position: left;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p136@leantasks/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #content {
  overflow-x: hidden;
}
/* line 30, ../../../app/stylesheets/partials/_main.sass */
body #content h1 {
  color: #044c29;
}
/* line 32, ../../../app/stylesheets/partials/_main.sass */
body #content a.task_list_action {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  -o-border-radius: 10px / 10px;
  -ms-border-radius: 10px / 10px;
  -khtml-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #167f39), color-stop(100%, #044c29));
  background-image: -moz-linear-gradient(top, #167f39 0%, #044c29 100%);
  background-image: linear-gradient(top, #167f39 0%, #044c29 100%);
  font-size: 200%;
  padding: 0.5em;
  text-decoration: none;
  color: #00261c;
  background-color: #167f39;
  border-style: solid;
  border-width: 0.2em;
  border-color: #044c29;
}
/* line 16, ../../../app/stylesheets/partials/task_lists/task_action_button.sass */
body #content a.task_list_action:hover {
  color: #96ed89;
}
