@import "compass/layout/sticky-footer";

@include sticky-footer(20px, "#root", "#root-footer", "#footer");

#footer {
  background-color: $mid;
	color: $bold;
  p {
    padding-left: 0.5em;
  }
}    
