@import "compass/css3/border-radius";
@import "compass/utilities/lists/bullets";

body {
  background-color: white; 
  .wrap {
    @include container; }
  #content {
    @include column($blueprint-grid-columns); 
    color: $light;
    #task_list_container {    
      @include column($blueprint-grid-columns / 3 * 2);
      @include no-bullets();
      li {
        @include border-radius(4px, 4px);
        background-color: $task-color;
        margin: 0.2em;
        padding: 0.5em;
        font-size: 200%;
        border: {
          style: solid;
          width: 0.2em;
          color: $task-border-color;
        }
        a.task_link {
          color: $mid;
        }
        a.prioritisation_link {
          @include float-right;
          padding: 0.1em;
        }
      }
    }
    #task_list_actions {
      @include column($blueprint-grid-columns / 3, true);
    }
  } 
}
