%div#task_list_container  
  %ul.sortable#task_list
    - @task_list.tasks.each do |task|
      %li{:id => "task_#{task.id}"}
        =render :partial => "task_lists/task", :locals => { :task => task }
