- content_for :head do
  %title lean task list
  =javascript_include_tag 'task_list/task_list.js'
  :javascript
    $(document).ready(function() {
      bindSortableItems("#{update_task_positions_task_list_path(@task_list)}");
    });   
    
%h1 #{h @task_list.name}

=render :partial => 'task_list', :locals => { :task_list => @task_list }

%br
= link_to 'add a new task', new_task_list_task_path(@task_list)
