%div#nav
  %ul#menu
    %li.menu-item 
      =link_to "backlog"
    %li.menu-item 
      =link_to "to-do"
    %li.menu-item 
      =link_to "archive"
#notices
  #notice= notice    
#login
  =link_to "sign in ->"
