%div#nav
  %ul#menu
    %li.menu-item 
      =link_to "home", root_path
    %li.menu-item 
      =link_to "to-do"
    %li.menu-item 
      =link_to "archive"
#notices
  #notice= notice    
#login
  =signed_in? ? link_to("sign out #{current_user.email}", sign_out_path, :method => "delete") : link_to("sign in", sign_in_path)
